body { background: #1800d8; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 44px; display: flex; }
.block-cache-0 { color: #17690b; font-size: 12px; margin-bottom: 5px; }
.block-user-1 { color: #f2f92f; font-size: 17px; margin-bottom: 5px; }
.block-search-2 { color: #99fbfd; font-size: 21px; margin-bottom: 5px; }
.block-config-3 { color: #7df6e0; font-size: 17px; margin-bottom: 5px; }
.block-helper-4 { color: #f9c6c8; font-size: 13px; margin-bottom: 5px; }
.block-cart-5 { color: #51a822; font-size: 20px; margin-bottom: 5px; }
.block-notify-6 { color: #491a30; font-size: 12px; margin-bottom: 5px; }
.block-email-7 { color: #7124a6; font-size: 14px; margin-bottom: 5px; }
.block-user-8 { color: #e42c0e; font-size: 17px; margin-bottom: 5px; }
.block-user-9 { color: #2e8a6f; font-size: 14px; margin-bottom: 5px; }